@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.q7__box {
  width: 225px;
  font-size: 16px;
}

.inlineblock{
  display: inline-block;
}

.box-sizing{
  box-sizing: border-box;
}

.float-box {
  float: left;
  margin-left: 50px;
}

.float-box:first-child {
  margin-left: 0;
}

.inner-table {
  display: table;
}

.table-box {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.table-box:first-child {
  padding-left: 0;
}

.inline-box {
  vertical-align: middle;
  margin-left: 45px;
}

.inline-box:first-child {
  margin-left: 0;
}

.inner-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7__box-inline {
  width: 300px;
  vertical-align: top;
}

.q7__box-margin {
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
}

.inner-font {
  font-size: 0;
}

.text-font {
  font-size: 16px;
}
/* 回答はここに書いてね */
