@charset "UTF-8";

/* 回答はここに書いてね */
.q9__content{
  width: 500px;
  border: 5px solid #222;
  border-radius: 30px;
  line-height: 16px;
  font-size: 16px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.q9__content:before,
.q9__content::after{
  content: "";
  border: 20px solid transparent;
  position: absolute;
  left: 20%;
  margin-left: 14px;
}

.q9__content:before{
  border-top-color: #222;
  bottom: -45px;
  left: 30px;
}

.q9__content::after{
  border-top-color: #fff;
  bottom: -36px;
  left: 30px;
}
/* 回答はここに書いてね */
