@charset "UTF-8";

/* 回答はここに書いてね */
.q5 {
  background-color: #ecf1f2;
  width: 500px;
  height: 500px;
  margin: auto;
  position: relative;
}

.q5__contents {
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}

.one {
  background-color: #FFEFD3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.two {
  background-color: #7084DE;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.three {
  background-color: #D0ECEA;
  top: 200px;
  left: 360px;
  z-index: 3;
}

.four {
  background-color: #8B7A5E;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.five {
  background-color: #9FD6D2;
  top: 360px;
  left: 200px;
  z-index: 5;
}

.six {
  background-color: #FFFEE4;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.seven {
  background-color: #DEAE70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.eight {
  background-color: #DE70CF;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.eight::after {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}

.nine {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2B69A3;
  z-index: 9;
}

/* 回答はここに書いてね */
